@model GreyMatterSocialNet.Models.Situation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Situation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpVotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownVotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
